.clients {
    padding-bottom: 180px;
}

.clients__h3 {
    font-size: 62px;
    font-weight: 700;
    line-height: 68px;
    color: rgba(3, 17, 95, 1);
    margin-top: 8px;
    text-align: center;
}

.clients__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 64px;
}


@media (max-width: 1440px) {
    .clients {
        padding-bottom: 80px;
    }
    .clients__h3 {
        font-size: 47px;
    }
    .clients__items {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    .clients__items {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 830px) {
    .clients__items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .clients__item {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .clients__items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width: 485px) {
    .clients__h3 {
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.02em;
        max-width: 400px;
    }
}